:root{
    --cor1: #000;
    --cor2: #fff;
    --cor3:#af5f00 ;
    --cor4: #dab585;
    --cor5: #e0a65c;
    --cor6: #a2845e;
    --cor7: #beb9b9;
    --font1: "Poppins", serif;
    --font2: "Roboto", serif;
    --font3: "Dancing Script", serif;
    --font4:  "Great Vibes", serif;
    --borderRadios: 6px;
}