.feedback{
    position: relative;
    margin-bottom: 60px;
}
#fd-bg{
    overflow: hidden;
}
.feedback::after{
    content: "";
    background-image: url(../../assets/imgs/detalhes/detail-right.png);
    height: 250px;
    width: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: -205px;
    bottom: 90px;
    z-index: -1;
}
.opnion p {
    padding: 20px;
    font-family: var(--font5);
    font-weight: 700;
    width: 70%;
    margin: 0 auto;
    line-height: 1.400;

}
.galery-opnion{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 50px;
    position: relative;
    transition: 1s;
   
}
.opnion{

    position: relative;
    text-align: center;
    background-color: var(--cor4);
    width: 100%;;
    display: none;
    margin: 0 auto;
    border-radius: var( --borderRadios);
}

.opnion .people {
    padding: 0;
    margin: 0 auto;
    left: 50%;
    position: absolute;
    height: 80px;
    object-fit: cover;
    width: 80px;
    transform: translate(-50%, -50%)
}

.galery-opnion button{
    background-color: var(--cor5);
    border: none;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
}
.galery-opnion button:hover{
    background-color: var(--cor6);
}
button img {
    height: 50px;

}
.btn-left{
    left: -20px;
    top: 40%;
}
.btn-right{
    right:  -20px;
    top: 40%; 
}
@media (max-width:800px){
    .feedback::after{
        display: none;
    }
    .opnion{
        width: 90%;
    }
    .feedback::after{
        display: none;
    }
    .opnion p{
        font-size: 1rem;
    }
    .btn-left{
        left: 20px;
        top: 40%;
    }
    .btn-right{
        right:  20px;
        top: 40%;
}
}
@media (max-width:400px){
    .opnion p{
        font-size: 0.9rem;
    }
}
