#foorter-bg{
    background-image: url(../../assets/imgs/img-conteiner/footer.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;

}
.footer{
    background-color: #f3e2ca2c;
}
.conteudo-footer{
    grid-column: 1/3;
    text-align: center;
}
.footer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

}
.footer div:last-child{
    
    grid-column: 4/6;
}
.footer div h2 {
    padding-bottom: 20px;
}
.footer div ul li{
    margin-bottom: 10px;
}
.footer div ul li a{
    cursor: pointer;
}
.media-social img{
    height: 30px;
}
.media-social ul{
    display: flex;
    gap: 20px;
}
.media-social{
    display: inline-block;
    
}
@media (max-width: 800px){
    .footer{
        grid-template-columns: 1fr 1fr;
    }
    .media-social{
        margin-top: 15px;
    }
    .conteudo-footer{
     grid-column: 1/3;
    }
    .footer div:last-child{
        grid-column: 2/3;
    }
}
@media (max-width: 650px){
    .footer div h2{
        font-size: 1.3rem;
    }
    
    .conteudo-footer .text-m1{
        font-size: 2.5rem;
    }
    .conteudo-footer p {
        font-size: 1.1rem;
    }
    .footer div ul li a{
        font-size: 1rem;
    }
    .footer div ul li{
        font-size: 1rem;
    }
}
