.img-bg{
    background-image: url(../../assets/imgs/img-conteiner/teste.02.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}
.title_header{
    text-align: start;
    color: #fff;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #5250506d;
    backdrop-filter: blur(2px);
    align-items: center;
    border-radius: var(--borderRadios);
}
.menu_header{
    display: flex;
    gap: 20px;
}
.menu_header a {
    font-family: var(--font1);
    font-weight: 500;
    font-size: 1.1rem;
    position: relative;
    color: var(--cor2);
    background-color: #3c3c3c53;
    padding: 10px;
    border-radius: var(--borderRadios);
  
}
.menu_header a::after{
    content: "";
    display: block;
    height: 3px;
    width: 0px;
    background-color: var(--cor2);
    margin-top: 6px;
    transition: 0.4s;
    position: absolute;
    border-radius: var(--borderRadios);
}
.menu_header a:hover::after{
    width: 100%;
}
.order-loguin{
    display: flex;
    gap: 20px;
}

.order-loguin img {
    cursor: pointer;
    height: 40px;
    object-fit: contain;

}
@media (max-width:800px){
    .menu_header{
        display: none;
    }
}
@media (max-width:400px){
    .title_header{
        font-size: 2rem;
    }
}