.conteudo_main{
    color: var(--cor2);
    width: 500px;
}
.main{
    padding-top: 130px;
}
.detalTitle{
    padding: 30px 0px;
    display: inline-block;
    color: var(--cor2);

}
.conteudo_main p{
    text-align: start;
    color: #ccc;
    margin-bottom: 20px;
}
@media (max-width:800px){
    .conteudo_main p{
        font-size: 1rem;
        color: var(--cor7);
        color: var(--cor2);
        padding: 15px;
        max-width: 350px;
    }
    .main{
        height: 91.1vh;
        background-color: #5250506d;
        backdrop-filter: blur(2px);
    }
    
    .detalTitle{
        font-size: 3.5rem;
    }
    .main a {
        margin-left: 10px;
    }
}
