.conteudo_main{
    color: var(--cor2);
    width: 500px;
}
.main{
    margin-top: 130px;
}
.detalTitle{
    padding: 30px 0px;
    display: inline-block;
    color: var(--cor2);

}
.conteudo_main p{
    text-align: start;
    color: #ccc;
    margin-bottom: 20px;
}