.menu h2,
.menu p{
    text-align: center;
    padding: 15px;
}
#mn-bg{
overflow: hidden;
}
.menu{
    position: relative; 
}
.menu::after{
    content: "";
    background-image: url(../../assets/imgs/detalhes/detail-right.png);
    height: 250px;
    width: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: -210px;
    top: -5px;
    z-index: -1;
    overflow: hidden;
}


.option-menu,
.option-quality{
    font-family: var(--font1);
    gap: 30px;
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
}
.option-menu h3{
    font-weight: 600;
    color: var(--cor3);
    font-size: 1.2rem;
}
.item-menu,
.item-quality{
    border: 1px solid var(--cor3);
    border-radius: var(--borderRadios);
    box-shadow: 1px 1px 5px #000;
    padding-bottom: 20px;
}
.item-menu p {
    height: 80px;
}
.item-menu img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 6px 6px 0px 0px;
}
@media (max-width: 800px){
    .option-menu,
    .option-quality{
    grid-template-columns: 1fr 1fr;
    padding: 0 30px;
}
}
@media (max-width: 600px){
    .option-menu,
    .option-quality{
    grid-template-columns: 1fr;
   
}
}
