.quality{
    margin-top: 50px;
    height: 800px;
}
.item-quality{
    background-color: var(--cor4);
    border: none;
    box-shadow: none;
}
.item-quality:hover,
.item-quality img:hover{
    
}
.quality_icon{
    height: 24px;
    width: 24px;
    background-size: 30px 10px;
    background-color: aliceblue;
}
.item-quality img {
    margin: 0 auto;
    height: 70px;
    width: 70px;
    background-color: var(--cor4);
    margin-top: 10px;
}
.item-quality h3{
    color: var(--cor3);
    font-weight: 600;
    padding: 20px 0;
}
.item-quality p {
    padding: 0px 20px 0px 20px;
}